/* As you can see I didn't use much CSS as I already got it from bootstrap but still managed to add some google fonts */
*{
    font-family: 'Oswald',sans-serif;
}
/* Styling for the content getting displayed on each page */
#display{
    resize: none;
    width: 100%;
    border: none;
    background:none;
    color: #456c4a;
}